<div class="columns is-mobile product">
  <div class="column is-4">
    <p class="image">
      <%= link_to product do %>
        <% if product.ogpimage? %>
          <figure class="image is-5by3">
            <%= image_tag product.ogpimage, style: "object-fit: cover;" %>
          </figure>
        <% else %>
          <figure class="image is-5by3">
            <%= image_tag product.thumbnail_url(:thumb), style: "object-fit: cover;" %>
          </figure>
        <% end %>
      <% end %>
    </p>
  </div>
  <div class="column">
    <div class="content">
      <p>
        <strong><%= link_to product.name, product %></strong>
        <br>
        <span class="is-size-7"><%= product.sub_title.truncate(30) %></span>
      </p>
    </div>
  </div>
</div>
