<% content_for :searchbox do  %>
  <%= render 'shared/searchbox' %>
<% end %>
<div class="columns">
  <div class="column is-4">
    <div class="has-background-light box is-shadowless">
      <p class="title is-size-4"><%= @tag.label %>
        <span>
      <% if user_signed_in? and current_user.admin? %>
        <%= link_to '編集', edit_tag_path(@tag), class: 'is-size-7'%>
            <%= link_to '削除', @tag, method: :delete, class: 'is-size-7', data: {confirm: '本当に削除しますか?'} %>
      <% end %>
    </span>
      </p>
    </div>
    <%= render partial: 'shared/ranking', locals: {products: @product_ranking, title: "#{@tag.label}タグのランキング"} unless @product_ranking.empty? %>
    <%= render partial: 'shared/related_products', locals: {products: @recommended_products, title: "#{@tag.label}タグでオススメのプロダクト"} unless @recommended_products.empty? %>
  </div>
  <div class="column is-8">
    <%= render partial: 'tags/products', locals: {products: @products, tag: @tag } unless @products.empty? %>
  </div>
</div>


