<% content_for :searchbox do  %>
  <%= render 'shared/searchbox' %>
<% end %>
<div class="columns">
  <div class="column is-4">
    <section class="section has-background-light box is-shadowless" style="padding: 0.5rem 1.5rem;">
      <p class="title is-size-4"><%= @category.name %></p>
      <p><%= @category.description %></p>
      <% if user_signed_in? and current_user.admin? %>
        <%= link_to 'Edit', edit_category_path(@category), class: 'is-size-7'%>
      <% end %>
    </section>
    <%= render partial: 'shared/categories', locals: {categories: @categories, title: 'カテゴリー'} unless @categories.empty? %>
    <%= render partial: 'shared/ranking', locals: {products: @weekly_ranking, title: '週間お気に入りランキング'} unless @product_ranking.empty? %>
    <%= render partial: 'shared/ranking', locals: {products: @product_ranking, title: 'カテゴリーが同じプロダクトのお気に入りランキング'} unless @product_ranking.empty? %>
  </div>
  <div class="column is-8">
    <%= render partial: 'categories/products', locals: {products: @products, category: @category } unless @products.empty? %>
  </div>
</div>


