<% content_for :searchbox do  %>
  <%= render 'shared/searchbox' %>
<% end %>
<div class="columns">
  <div class="column is-4">
    <div class="has-background-light box is-shadowless">
      <p class="title is-size-4"><%= @category.name %></p>
      <p><%= @category.description %></p>
      <% if user_signed_in? and current_user.admin? %>
        <%= link_to 'Edit', edit_category_path(@category), class: 'is-size-7'%>
      <% end %>
    </div>
    <%= render partial: 'shared/categories', locals: {categories: @categories, title: 'カテゴリー'} unless @categories.empty? %>
    <%= render partial: 'shared/ranking', locals: {products: @product_ranking, title: "#{@category.name}カテゴリーのランキング"} unless @product_ranking.empty? %>
    <%= render partial: 'shared/related_products', locals: {products: @recommended_products, title: "#{@category.name}カテゴリーでオススメのプロダクト"} unless @recommended_products.empty? %>
  </div>
  <div class="column is-8">
    <%= render partial: 'categories/products', locals: {products: @products, category: @category } unless @products.empty? %>
  </div>
</div>


