<article class="media">
  <figure class="media-left">
    <p class="image is-48x48">
      <%= image_tag comment.user.avatar_url(:thumb) %>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= comment.user.name %></strong>
        <small><%= comment.updated_at %></small>
        <br>
        <%= comment.content %>
      </p>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item">
          <span class="is-size-7">返信</span>
        </a>
        <a class="level-item">
          <span class="is-size-7">いいね</span>
        </a>
      </div>
      <div class="level-right">
        <%# if user_signed_in? %>
        <%# if comment.owned_by?(current_user) %>
        <%#= link_to '削除', comment, method: :delete, data: {confirm: 'Are you sure?'}, remote: true, class: 'is-size-7' %>
        <!--                    <span>・</span>-->
        <%#= link_to '修正', edit_comment_path(comment), class: 'is-size-7'%>
        <%# end %>
        <%# end %>
      </div>
    </nav>
  </div>
  <div class="media-right">
    <% if user_signed_in? %>
      <% if comment.owned_by?(current_user) %>
        <%= link_to '削除', comment, method: :delete, data: {confirm: 'Are you sure?'}, remote: true, class: 'is-size-7', class: 'delete' %>
      <% end %>
    <% end %>
  </div>
</article>