<% content_for :searchbox do  %>
  <%= render 'shared/searchbox' %>
<% end %>
<div class="columns">
  <div class="column is-4">
    <div style="margin: 0 0 1rem 0;">
      <p class="subtitle is-7">カテゴリー</p>
    </div>
    <section class="section has-background-light box is-shadowless" style="padding: 0.5rem 1.5rem;">
      <aside class="menu">
        <ul class="menu-list">
          <% @categories.each do |category| %>
            <li><%= link_to category.name, category_path(category) %></li>
          <% end %>
        </ul>
      </aside>
    </section>
    <div style="margin: 0 0 1rem 0;">
      <p class="subtitle is-7">週間ランキング</p>
    </div>
    <section class="section has-background-light box is-shadowless" style="padding: 0.5rem 1.5rem;">
      <% @products.each.with_index(1) do |product, i| %>
        <article class="media">
          <div class="columns is-mobile">
            <div class="column is-4">
              <p class="image">
                <%= link_to product do %>
                  <img src="https://i2.wp.com/1q86inc.com/wp-content/uploads/2018/04/3f6984b66f4a79d6.jpg?resize=800%2C534&ssl=1">
                  <%#= image_tag product.thumbnail %>
                  <%#= image_tag product.image %>
                <% end %>
              </p>
            </div>
            <div class="column">
              <div class="content">
                <p>
                  <strong><%= link_to product.name, product %></strong>
                  <br>
                  <span class="is-size-7"><%= product.desc.truncate(35) %></span>
                </p>
              </div>
            </div>
            <div class="column is-narrow">
            <span class="is-size-7 fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-inverse fa-stack-1x" style="color: #ffffff;"><%= i %></i>
            </span>
            </div>
          </div>
        </article>
      <% end %>
    </section>
    <div style="margin: 0 0 1rem 0;">
      <p class="subtitle is-7">お気に入りランキング</p>
    </div>
    <section class="section has-background-light box is-shadowless" style="padding: 0.5rem 1.5rem;">
      <% @products.each.with_index(1) do |product, i| %>
        <article class="media">
          <div class="columns is-mobile">
            <div class="column is-4">
              <p class="image">
                <%= link_to product do %>
                  <img src="https://i2.wp.com/1q86inc.com/wp-content/uploads/2018/04/3f6984b66f4a79d6.jpg?resize=800%2C534&ssl=1">
                  <%#= image_tag product.thumbnail %>
                  <%#= image_tag product.image %>
                <% end %>
              </p>
            </div>
            <div class="column">
              <div class="content">
                <p>
                  <strong><%= link_to product.name, product %></strong>
                  <br>
                  <span class="is-size-7"><%= product.desc.truncate(100) %></span>
                </p>
              </div>
            </div>
            <div class="column is-narrow">
            <span class="is-size-7 fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-inverse fa-stack-1x" style="color: #ffffff;"><%= i %></i>
            </span>
            </div>
          </div>
        </article>
      <% end %>
    </section>
  </div>


  <div class="column is-8">
    <section class="section" style="padding: 0.5rem 1.5rem;">
      <div style="margin: 0 0 1rem 0;">
        <p class="is-size-7">新着</p>
        <time datetime="2016-1-1" class="is-size-7"><%= Date.today %></time>
      </div>
      <% @products.each do |product| %>
        <article class="media">
          <div class="columns">
            <div class="column is-3">
              <p class="image">
                <%= link_to product do %>
                  <img src="https://i2.wp.com/1q86inc.com/wp-content/uploads/2018/04/3f6984b66f4a79d6.jpg?resize=800%2C534&ssl=1">
                  <%#= image_tag product.thumbnail %>
                  <%#= image_tag product.image %>
                <% end %>
              </p>
            </div>
            <div class="column">
              <div class="columns is-mobile">
                <div class="column ">
                  <div class="content">
                    <p>
                      <strong><%= link_to product.name, product %></strong><span> </span>
                      <small><%= link_to (fa_icon 'external-link'), product.url %></small>
                      <%= link_to "http://twitter.com/intent/tweet?text=#{product.name}&url=#{product_url(product)}&via=productsquare&related=ProductSquare&hashtags=ProductSquare,#{product.name}" do %>
                        <%= fa_icon 'twitter' %>
                      <% end %>
                      <span style="font-size: 0.6em">
                          <% if current_user&.admin? %>
                              <%= link_to '編集', edit_product_path(product) %>
                            <span> </span>
                            <%= link_to '削除', product, method: :delete, data: {confirm: 'Are you sure?'} %>
                          <% end %>
                        </span>
                      <br>
                      <span class="is-size-7"><%= product.desc.truncate(80) %></span>
                    </p>
                    <span class="tag is-rounded is-size-7">One</span>
                    <span class="tag is-rounded is-size-7">Two</span>
                    <span class="tag is-rounded is-size-7">Three</span>
                  </div>
                </div>
                <div class="column is-narrow">
                  <%= render 'likes/like', product: product %>
                </div>
              </div>
            </div>
          </div>
        </article>
      <% end %>
    </section>
    <section class="section">
      <%= paginate @products %>
    </section>



  </div>
</div>
