<div class="columns is-centered">
  <div class="column  is-narrow is-half is-12-mobile is-4-desktop is-centered">
    <div class="box">
      <section class="section">
        <p class="subtitle has-text-grey is-aligin-center">プロダクト申請</p>
        <%= form_with(model: @product, local: true) do |form| %>
          <div class="field">
            <div class="control">
              <%= form.text_field :url, class: 'input', placeholder: 'URL ex. https://example.com' %>
            </div>
          </div>
          <div class="field">
            <div class="control">
            <%= form.text_area :desc, class: 'textarea', placeholder: '補足事項がありましたら、ご記入ください' %>
           </div>
          </div>
          <div class="actions field" style="padding:30px 0;">
            <%= form.submit "申請する", class: "button is-link is-fullwidth is-rounded" %>
          </div>
        <% end %>
      </section>
      <div style="padding:20px;">
        <p class="has-text-centered is-size-7 has-text-grey">
          <%= link_to '戻る', products_path %>
        </p>
      </div>
    </div>
  </div>
</div>
