<div class="columns">
  <div class="column is-8">
    <section class="section" style="padding: 0.5rem 1.5rem;">
      <article class="media"><p>About</p></article>
      <article class="media"></article>
      <div class="card" style="box-shadow: none;">
        <div class="card-content">
          <div class="columns is-mobile">
            <div class="column is-3-mobile is-3-tablet is-2-desktop">
              <figure class="image">
                <%= link_to @product.url do %>
                  <img src="https://221616.com/kaigai/usa/blog/wp-content/uploads/2017/07/9.png" alt="Placeholder image">
                  <%#= image_tag product.image %>
                <% end %>
              </figure>
              <%= link_to "http://twitter.com/intent/tweet?text=#{@product.name}&url=#{product_url(@product)}&via=productsquare&related=ProductSquare&hashtags=ProductSquare,#{@product.name}" do %>
                <%= fa_icon 'twitter' %>
              <% end %>
              <%= fa_icon 'facebook' %>
              <%= fa_icon 'envelope' %>
            </div>
            <div class="column">
              <p class="title is-5"><%= link_to @product.name, @product.url %>
                <span><i class="fas fa-external-link-alt is-size-6"></i></span>
                <span style="font-size: 0.4em">
                <% if current_user&.admin? %>
                    <%= link_to '編集', edit_product_path(@product) %>
                      <span> </span>
                      <%= link_to '削除', @product, method: :delete, data: {confirm: 'Are you sure?'} %>
                <% end %>
              </span>
              </p>
              <p class="subtitle is-6"><%= @product.desc %></p>
              <div class="content">
                <span class="tag">One</span>
                <span class="tag">Two</span>
                <span class="tag">Three</span>
              </div>
            </div>
            <div class="column is-narrow" style="padding-left: 0;">
              <% if user_signed_in? %>
                <% if @product.liked?(current_user) %>
                  <%= link_to like_path(@product.like_by(current_user)), method: :delete, remote: true do %>
                    <span><%= fa_icon 'heart', class: 'heart-red' %></span>
                  <% end %>
                <% else %>
                  <%= link_to likes_path(like: {user_id: current_user.id, product_id: @product.id}), method: :post, remote: true do %>
                    <span><%= fa_icon 'heart', class: 'heart-gray' %></span>
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to user_session_path do %>
                  <span><%= fa_icon 'heart', class: 'heart-gray' %></span>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="card-image" style="padding: 0 3rem;">
          <figure class="image is-3by2">
            <%= link_to @product.url do %>
              <img src="https://i2.wp.com/1q86inc.com/wp-content/uploads/2018/04/3f6984b66f4a79d6.jpg?resize=800%2C534&ssl=1" alt="#{@product.name}">
              <%#= image_tag product.thumbnail %>
            <% end %>
          </figure>
        </div>
      </div>

      <section class="section">
        <article class="media">
          <p>Reviews</p>
        </article>
        <%= render partial: 'comment', collection: @comments %>
        <% if user_signed_in? %>
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png">
              </p>
            </figure>
            <div class="media-content">
              <%= form_with model: Comment.new do |f| %>
                <div class="field">
                  <p class="control">
                    <%= f.text_area :content, placeholder: "Add a comment...", class: "textarea" %>
                  </p>
                </div>
                <nav class="level">
                  <div class="level-left">
                    <div class="level-item">
                      <%= f.hidden_field :product_id, value: @product.id %>
                      <%= f.submit "コメントする", class: "button is-info" %>
                    </div>
                  </div>
                </nav>
              <% end %>
            </div>
          </article>
        <% else %>
          <article class="media">
            <%= link_to '会員登録してレビューを書く', new_user_registration_path, class: 'button is-rounded is-size-7'%>
          </article>
        <% end %>
      </section>
    </section>
  </div>
  <div class="column is-4">
    <%= render partial: 'shared/related_products', locals: { products: @related_products, title: '関連プロダクト'} unless @related_products.empty? %>
    <%= render partial: 'shared/ranking', locals: {products: @product_ranking, title: 'お気に入りランキング'} unless @product_ranking.empty? %>
  </div>
</div>