<% content_for :searchbox do  %>
  <%= render 'shared/searchbox' %>
<% end %>
<div class="columns">
  <div class="column is-8">
    <section class="section" style="padding: 0.5rem 1.5rem;">
      <div class="card" style="box-shadow: none;">
        <div class="card-content">
          <div class="columns is-mobile">
            <div class="column is-3-mobile is-3-tablet is-2-desktop">
              <figure class="image">
                <%= link_to @product.url do %>
                  <img src="https://221616.com/kaigai/usa/blog/wp-content/uploads/2017/07/9.png" alt="Placeholder image">
                <% end %>
              </figure>
              <%= link_to "http://twitter.com/intent/tweet?text=#{@product.name}&url=#{product_url(@product)}&via=productsquare&related=ProductSquare&hashtags=ProductSquare,#{@product.name}" do %>
                <%= fa_icon 'twitter' %>
              <% end %>
              <%= fa_icon 'facebook' %>
              <%= fa_icon 'envelope' %>
            </div>
            <div class="column">
              <p class="title is-5"><%= @product.name %>
                <span><i class="fas fa-external-link-alt is-size-6"></i></span>
                <small><%= link_to (fa_icon 'external-link'), @product.url, target: '_blank'%></small>
                <span style="font-size: 0.4em">
                  <% if current_user&.admin? %>
                    <%= link_to '編集', edit_product_path(@product) %>
                    <span> </span>
                    <%= link_to '削除', @product, method: :delete, data: {confirm: 'Are you sure?'} %>
                  <% end %>
                </span>
              </p>
              <p class="subtitle is-6"><%= @product.desc %></p>
              <div class="content">
                <% @product.tags.each do |tag| %>
                  <span class="tag is-rounded is-size-7" >
                    <%= link_to tag.label, tag_path(tag)%>
                  </span>
                <% end %>
              </div>
            </div>
            <div class="column is-narrow" style="padding-left: 0;">
              <%= render 'likes/like', product: @product %>
            </div>
          </div>
        </div>
        <figure class="image is-3by2">
          <%= link_to @product.url, target: "_blank" do %>
            <%= image_tag @product.thumbnail_url(:thumb) %>
          <% end %>
        </figure>
      </div>
      <div id="test">
        <%= render 'comments/comments', comments: @comments, product: @product %>
      </div>
    </section>
  </div>
  <div class="column is-4">
    <%= render partial: 'shared/related_products', locals: { products: @related_products, title: '関連プロダクト'} unless @related_products.empty? %>
    <%= render partial: 'shared/ranking', locals: {products: @product_ranking, title: 'お気に入りランキング'} unless @product_ranking.empty? %>
  </div>
</div>