<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.1&appId=929110677181768&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<% content_for :searchbox do %>
  <%= render 'shared/searchbox' %>
<% end %>
<div class="columns">
  <div class="column is-6 is-offset-1">
    <div class="card" style="box-shadow: none;">
      <div class="card-image">
        <figure class="image is-3by2">
          <%= link_to @product.url, target: "_blank" do %>
            <%= image_tag @product.thumbnail_url(:thumb) %>
          <% end %>
        </figure>
      </div>
      <div class="card-content" style="padding:1.5rem 0">
        <div class="media">
          <div class="media-left">
            <figure class="image" style="height: 50px; width: 50px;">
              <%= link_to @product.url, target: "_blank" do %>
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              <% end %>
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4" style="margin-bottom: 0.1rem;">
              <%= @product.name %>
              <small><%= link_to (fa_icon 'external-link'), @product.url, target: '_blank' %></small>
              <span style="font-size: 0.4em">
                <% if current_user&.admin? %>
                  <%= link_to '編集', edit_product_path(@product) %>
                  <span> </span>
                  <%= link_to '削除', @product, method: :delete, data: {confirm: 'Are you sure?'} %>
                <% end %>
              </span>
            </p>
          </div>
          <div class="media-right">
            <%= render 'likes/like', product: @product %>
          </div>
        </div>
        <div class="content">
          <%= @product.desc %>
          <p style="margin-top: 1rem;">
            <% @product.tags.each do |tag| %>
                  <span class="tag is-rounded is-size-7">
                    <%= link_to tag.label, tag_path(tag) %>
                  </span>
            <% end %>
          </p>
        </div>

      </div>


      <div>
        <div class="website media">
          <%= link_to "http://twitter.com/intent/tweet?text=#{@product.name}&url=#{product_url(@product)}&via=productsquare&related=ProductSquare&hashtags=ProductSquare,#{@product.name}", class: "button  is-medium is-fullwidth is-outlined" do %>
          <span class="icon">
            <%= fa_icon 'compass' %>
          </span>

            <span>Webサイト</span>

          <% end %>
        </div>
        <div class="share">
          <p class="buttons">
            <%= link_to "http://twitter.com/intent/tweet?text=#{@product.name}&url=#{product_url(@product)}&via=productsquare&related=ProductSquare&hashtags=ProductSquare,#{@product.name}", class: "button is-small is-info is-outlined" do %>
          <span class="icon">
            <%= fa_icon 'twitter' %>
          </span>

              <span>シェアする</span>

            <% end %>

            <%= link_to "http://twitter.com/intent/tweet?text=#{@product.name}&url=#{product_url(@product)}&via=productsquare&related=ProductSquare&hashtags=ProductSquare,#{@product.name}", class: "button is-small is-link is-outlined" do %>
          <span class="icon">
            <%= fa_icon 'facebook' %>
          </span>

              <span>シェアする</span>

            <% end %>
          </p>

          <p class="fb-share-button" data-href="https://theproductsq.com/aaa" data-layout="button" data-size="small" data-mobile-iframe="true">
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ftheproductsq.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
              シェア
            </a>
          </p>

        </div>

      </div>


      <style>
        .horizontal_scroll_wrap{
          background: #f1f1f1;
          height: 240px;
          overflow-y: hidden;
          margin: 0 -10px;
        }
        .scroll_lst {
          overflow-x: auto;
          overflow-y: hidden;
          white-space: nowrap;
          padding-bottom: 50px;
          margin: 25px 0 0;
          -webkit-overflow-scrolling: touch;
        }
        .scroll_item {
          margin-right: 10px;
          display: inline-block;
          width: 220px;
          border: 1px solid #ddd;
          background: #fff;
        }
        .scroll_item:first-child {
          margin-left: 10px;
        }

        .scroll_item_inr {
          display: block;
        }
        .scroll_item_info {
          white-space: normal;
          padding: 8px;
        }
        .scroll_item_ttl {
          font-size: 12px;
          color: #484848;
          line-height: 1.4;
          margin-bottom: 0;
        }

      </style>



      <div class="rel-links" style="padding: 1.5rem 0">
        <article class="media">
          <p>関連リンク</p>
        </article>

        <div class="horizontal_scroll_wrap">
          <ul class="scroll_lst">
            <li class="scroll_item">
              <a href="" class="scroll_item_inr">
                <div class="scroll_item_thum">
                  <img src="http://blog.keisuke11.com/wp-content/uploads/2017/04/click-event-after-add-300x158.jpg" alt="" width="300" height="158" class="alignnone size-medium wp-image-986" />
                </div>
                <div class="scroll_item_info">
                  <h4 class="scroll_item_ttl">clickイベントが効かない？appendで後から追加した要素にクリックイベントを追加する方法</h4>
                </div>
              </a>
            </li>
            <li class="scroll_item">
              <a href="" class="scroll_item_inr">
                <div class="scroll_item_thum">
                  <img src="http://blog.keisuke11.com/wp-content/uploads/2017/04/click-event-after-add-300x158.jpg" alt="" width="300" height="158" class="alignnone size-medium wp-image-986" />
                </div>
                <div class="scroll_item_info">
                  <h4 class="scroll_item_ttl">clickイベントが効かない？appendで後から追加した要素にクリックイベントを追加する方法</h4>
                </div>
              </a>
            </li>
            <li class="scroll_item">
              <a href="" class="scroll_item_inr">
                <div class="scroll_item_thum">
                  <img src="http://blog.keisuke11.com/wp-content/uploads/2017/04/click-event-after-add-300x158.jpg" alt="" width="300" height="158" class="alignnone size-medium wp-image-986" />
                </div>
                <div class="scroll_item_info">
                  <h4 class="scroll_item_ttl">clickイベントが効かない？appendで後から追加した要素にクリックイベントを追加する方法</h4>
                </div>
              </a>
            </li>
            <li class="scroll_item">
              <a href="" class="scroll_item_inr">
                <div class="scroll_item_thum">
                  <img src="http://blog.keisuke11.com/wp-content/uploads/2017/04/click-event-after-add-300x158.jpg" alt="" width="300" height="158" class="alignnone size-medium wp-image-986" />
                </div>
                <div class="scroll_item_info">
                  <h4 class="scroll_item_ttl">clickイベントが効かない？appendで後から追加した要素にクリックイベントを追加する方法</h4>
                </div>
              </a>
            </li>
            <li class="scroll_item">
              <a href="" class="scroll_item_inr">
                <div class="scroll_item_thum">
                  <img src="http://blog.keisuke11.com/wp-content/uploads/2017/04/click-event-after-add-300x158.jpg" alt="" width="300" height="158" class="alignnone size-medium wp-image-986" />
                </div>
                <div class="scroll_item_info">
                  <h4 class="scroll_item_ttl">clickイベントが効かない？appendで後から追加した要素にクリックイベントを追加する方法</h4>
                </div>
              </a>
            </li>
          </ul>
        </div>

      </div>


      <div id="comment">
        <%= render 'comments/comments', comments: @comments, product: @product %>
      </div>

    </div>
  </div>
  <div class="column is-4">
    <%= render partial: 'shared/related_products', locals: {products: @related_products, title: '関連プロダクト'} unless @related_products.empty? %>
    <%= render partial: 'shared/ranking', locals: {products: @product_ranking, title: 'お気に入りランキング'} unless @product_ranking.empty? %>
  </div>
</div>