<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @product.url %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @product.desc %>
</p>

<p>
  <strong>Image:</strong>
  <%= @product.image %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @product.thumbnail %>
</p>
<p>
  <% if user_signed_in? %>
    <% if @product.liked?(current_user) %>
      <!-- TODO:refactoring-->
      <%= link_to (fa_icon 'heart',class: 'heart-red'), like_path(@product.likes.find_by(user_id: current_user.id)), method: :delete, remote: true %>
    <% else %>
      <%= link_to (fa_icon 'heart',class: 'heart-gray'), likes_path(like: {user_id: current_user.id, product_id: @product.id}), method: :post, remote: true %>
    <% end %>
  <% else %>
    <%= link_to (fa_icon 'heart',class: 'heart-gray'), user_session_path %>
  <% end %>
</p>
<p>
  <%= @product.likes_count %>
</p>


<% if user_signed_in? %>
  <% if comment.owned_by?(current_user) %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
  <% end %>
<% end %>


<p>###############################</p>
<% @comments.each do |comment| %>
<p>
  <%= comment.user.name %>: <%= comment.content %>: <%= comment.updated_at %>
  <% if user_signed_in? %>
    <% if comment.owned_by?(current_user) %>
      <%= link_to '削除', comment, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>,
      <%= link_to '修正', edit_comment_path(comment) %>
    <% end %>
  <% end %>
<% end %>
</p>


<% if user_signed_in? %>
  <div>
    <%= form_with model: Comment.new do |f| %>
      <%= f.text_field :content , placeholder: "Write comments" %>
      <%= f.hidden_field :product_id , value: @product.id %>
      <%= f.submit "コメントする" %>
    <% end %>
  </div>
<% end %>
<p>###############################</p>