<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta property="og:url"           content="https://theproductsq.com" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="ProductSquare | 素敵なサービスを見つけよう" />
    <meta property="og:description"   content="最新のWebサービスを見つけることができるWebサイトです" />
    <meta property="og:image"         content="http://localhost:3000/assets/fallback/thumb_default-cfa2799ebf861bdb261e5f51f5bc4c38ee35575a034ac0371d05e47a69524e32.png" />
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render partial: 'layouts/navbar' %>
    <main class="Site-content">
      <section class="section has-background-white">
        <div class="container">
          <% if notice %>
            <article class="message is-success">
              <div class="message-body">
                <p><%= notice %></p>
              </div>
            </article>
          <% end %>
          <% if alert %>
            <article class="message is-danger">
              <div class="message-body">
                <p><%= alert %></p>
              </div>
            </article>
          <% end %>
          <%= yield %>
        </div>
      </section>
    </main>
    <%= render 'layouts/footer' %>
    <script async src="https://platform.twitter.com/widgets.js"></script>

  </body>
</html>
